* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Layout */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 150px 1fr;
}

.header {
    grid-column: 2 / 3;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.sidebar {
    grid-row: 1 / -1;
    background-color: #E89005;
    padding: 0 5vh 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    color: #fff;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* Navbar Styles */
.heading,
.options li,
.settings li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.heading {
    font-size: 30px;
}

.material-symbols-outlined {
    margin-right: 20px;
}

/* Header Styling */
.header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-top-header,
.right-top-header,
.left-bottom-header,
.right-bottom-header {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.left-top-header,
.left-bottom-header {
    margin-left: 50px;
}

.right-top-header,
.right-bottom-header {
    margin-right: 50px;
}

.left-top-header input {
    height: 30px;
    width: 500px;
    border: none;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 10px;
}

.right-top-header img {
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.right-bottom-header button {
    margin-left: 20px;
    border: none;
    padding:  10px 20px;
    border-radius: 15px;
    background-color: #E89005;
}

.right-bottom-header button:hover {
    cursor: pointer;
    background-color: #f5a018;
}


.profile-picture {
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.user {
    line-height: 30px;
    align-self: flex-end;
    position: relative;
}

.user::before {
    content: "Hello there,";
    position: absolute;
    top: -30px;
    font-size: 14px;
}
